@import url('https://fonts.googleapis.com/css?family=Lobster|Raleway:400,600');

$yellow: #ffe361; 
$grey: #d2d2d3;
$ivory: #fffcec;
$blue: #abdcd6;
$lt-blue: #d5eae8;
$orange: #eb593c;

$primary-font: 'Raleway', sans-serif;
$secondary-font: 'Lobster', cursive;
